Repository Skillcap-Studio/sg-physics-2d: changes, and which GitLab CI jobs are due for each by the changed paths.
All: godot3-build, godot4-build, godot3-windows-signed

godot3-build:
  image: registry.gitlab.com/snopek-games/godot-builder-docker:latest
  stage: build
  tags:
  - multicore
  variables:
    GODOT_DOWNLOAD_URL: https://github.com/godotengine/godot/releases/download/3.5.2-stable/godot-3.5.2-stable.tar.xz
  parallel:
    matrix:
    - BUILD_TYPE:
      - linux-editor-64
  ...

godot4-build:
  image: registry.gitlab.com/snopek-games/godot-builder-docker:latest
  stage: build
  tags:
  - multicore
  parallel:
    matrix:
    - BUILD_TYPE:
      - linux-debug-x86_64
      - linux-release-x86_64
      - windows-debug-x86_64
      - windows-release-x86_64
  script:
  - git config --global --add safe.directory '*'
  ...

godot3-windows-signed:
  stage: sign
  image: ubuntu:20.04
  dependencies:
  - godot3-build
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends osslsigncode
  script:
  - mkdir -p build/windows-signed
  - cp ./build/godot/bin/windows-editor-64.exe ./build/windows-signed/
  ...

Added debug_color to SGCollisionShape2D
  src/sg_physics_2d/godot-4/doc_classes/SGCollisionShape2D.xml
  src/sg_physics_2d/godot-4/scene/2d/sg_collision_shape_2d.cpp
  src/sg_physics_2d/godot-4/scene/2d/sg_collision_shape_2d.h
Due: godot4-build

Removed unnecessary whitespace
  src/sg_physics_2d/godot-4/scene/2d/sg_collision_shape_2d.h
Due: godot4-build

feat: add debug_color to SGCollisionPolygon2D
  src/sg_physics_2d/godot-4/doc_classes/SGCollisionPolygon2D.xml
  src/sg_physics_2d/godot-4/math/sg_fixed_transform_2d.cpp
  src/sg_physics_2d/godot-4/scene/2d/sg_collision_polygon_2d.cpp
  src/sg_physics_2d/godot-4/scene/2d/sg_collision_polygon_2d.h
Due: godot4-build

Switch to godot-cpp fork with fix for _notification() bug
  .gitmodules
Due: none

Change fixed position when position changes on editor
  src/sg_physics_2d/godot-4/scene/2d/sg_fixed_node_2d.cpp
Due: godot4-build

Added debug_color to SGCollisionShape2D
  src/sg_physics_2d/godot-4/doc_classes/SGCollisionPolygon2D.xml
  src/sg_physics_2d/godot-4/doc_classes/SGCollisionShape2D.xml
  src/sg_physics_2d/godot-4/scene/2d/sg_collision_polygon_2d.cpp
  src/sg_physics_2d/godot-4/scene/2d/sg_collision_polygon_2d.h
  src/sg_physics_2d/godot-4/scene/2d/sg_collision_shape_2d.cpp
  src/sg_physics_2d/godot-4/scene/2d/sg_collision_shape_2d.h
Due: godot4-build

fix: remove duplicate declarations
  src/sg_physics_2d/godot-3/scene/resources/sg_shapes_2d.h
  src/sg_physics_2d/godot-4/scene/2d/sg_collision_polygon_2d.cpp
  src/sg_physics_2d/godot-4/scene/2d/sg_collision_polygon_2d.h
  src/sg_physics_2d/godot-4/scene/2d/sg_fixed_node_2d.h
  src/sg_physics_2d/godot-4/scene/resources/sg_shapes_2d.h
Due: godot3-build, godot4-build, godot3-windows-signed

feat: update config file with macos and android libs
  bin/sg-physics-2d/sg-physics-2d.gdextension
Due: none

Path conditions:
  godot3-build: any of: src/sg_physics_2d/internal/**/*, src/sg_physics_2d/godot-3/**/*, src/sg_physics_2d/*
  godot4-build: any of: src/sg_physics_2d/internal/**/*, src/sg_physics_2d/godot-4/**/*
  godot3-windows-signed: any of: src/sg_physics_2d/internal/**/*, src/sg_physics_2d/godot-3/**/*, src/sg_physics_2d/*
